---
layout: default
single: true
---
<button id="back_btn"><a href="/">back</a></button>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">{% include article.html %}</article>

{% unless page.sharing == false %}
	{% include post/sharing.html %}
{% endunless %}
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}